@media only screen and (max-width: 992px) {
    /* Estilos para pantallas medianas */
    * {
        padding: 0px 0px;
        margin: 0;
    }
    .main-container {
        display: flex;
        height: 100%;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }
    .padding-global {
        padding: 0 20px;
        width: 100%;
    }
    .column-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        width: 100%;
        min-width: 100%;
        padding: 32px 0px;
    }
    .component-form {
        flex-direction: column;
    }
    .mobile-none {
        display: none;
    }
    .desktopNone {
        display: flex!important;
        position: relative;
    }
    .title-1 {
        font-size: 32px;
    }
    .werapper-all {
        display: block;
        height: 100%;
        width: 100%;
        padding-bottom: 32px;
        min-height: auto;
    }
    /*NAV*/
    .navBar {
        width: 100%;
        z-index: 20;
    }
    /*botones*/
    .form-search-name button {
        height: 46px;
    }
    .btn-siguiente {
        padding: 9px 22px;
        height: 46px;
    }
    .content-function {
        position: relative;
        width: auto;
        height: 100%;
        border-radius: 24px;
        z-index: 3;
        padding: 32px 0px;
    }
    .img-gracias {
        width: 100%;
        margin-top: 60px;
        position: static;
    }
    .general-container {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .wrapp-foorm-search {
        width: auto;
    }
    .component-load-dpi {
        width: auto;
    }
    .wrapper-arrow-prev {
        margin: 0;
        font-size: 16px;
    }
    .form-search-name {
        padding-top: 48px;
        gap: 16px;
    }
    .steps {
        width: 100%;
        position: relative;
        flex-direction: row;
        margin-top: 0px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .wrapper-line-mobile {
        position: absolute;
        display: flex;
        width: 100%;
        top: 12px;
        padding: 0px 35px 0px 32px;
    }
    .linetimline {
        width: 100%;
        height: 2px;
        margin: 0 auto;
        background: #F8EDBA;
        z-index: 5;
        position: static;
    }
    .warpper-step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: auto;
    }
    .text-step {
        font-size: 10px;
        text-align: center;
    }
    .number-step {
        width: 20px;
        height: 20px;
        font-size: 13.5px;
    }
    .container440 {
        width: 100%;
    }
    .paragraph-2 {
        margin: 0px;
    }
    .wrapp-footer {
        flex-direction: column;
        align-items: center;
        gap: 29px;
        padding: 32px 0px;
    }
    .card-info-pago {
        padding: 0px;
        margin-bottom: 0px;
    }
    .form-invoice {
        width: 100%;
        height: 100%;
        min-height: 350px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .wrapper-btn-si-no {
        width: auto;
    }
    .btn-select-invoice span {
        padding: 9px 11px;
        font-size: 16px;
        text-align: center;
        line-height: 1.2em;
        align-items: center;
        justify-content: center;
    }
    .inputForm {
        width: 100%;
    }
    .component-ok {
        padding: 24px;
    }
    .object-form {
        width: 100%;
    }
    select {
        width: auto;
    }
    .component-ok h2 {
        font-size: 32px;
    }
}